# Base url of test host.
BASE_URL=https://example.com/

# Test users' passwords. Username for ADMIN_RO_PASSWORD is admin-ro;
# Pattern is the same for all other users.
ADMIN_PASSWORD=
ALPHA_PASSWORD=
BRAVO_PASSWORD=
ADMIN_RO_PASSWORD=
ALPHA_RO_PASSWORD=
BRAVO_RO_PASSWORD=

# Testbed uses four separate interfaces. Accross three entities: pc1,
# pc2, and cloud.
PC1_NODE=
PC1_INTF=
PC2_NODE=
PC2_INTF=
CLOUD_EP1_NODE=
CLOUD_EP1_INTF=
CLOUD_EP2_NODE=
CLOUD_EP2_INTF=

# Service Key for Azure test circuit. Used to test provisioning of
# both layer2 and layer3 connections.
AZURE_SERVICE_KEY=
